<%- include("../partials/header") %>
<body>
  <%- include("../partials/navigation") %>
  <% if (message) { %>
    <div class="alert alert-primary" role="alert">
        <%= message %>
    </div>
  <% }; %>
  <div class="container-users">
    <h1>All Employees</h1>
    <hr>
    <ol>
        <% data.forEach(function(item){ %>
            <li>
                <p>Fullname: <%= item.full_name %></p>
                <p>Position: <%= item.position %></p>
                <p>Department: <%= item.department %></p>
                <p>User Id: <%= item.user_id %></p>
                <p>Address: <%= item.address %></p>
            </li>
            <div class="options">
                <a href="/users/delete/<%= item.id %>">Delete</a>
                <a href="/users/update/<%= item.id %>">Update</a>
                <a href="/users/<%= item.id %>">Detail</a>
            </div>
            <br><br>
        <% }) %> 
    </ol>
  </div>
  <%- include("../partials/footer") %>
</body>
</html>